doctype html
html
    head
        title=title
        each cssFile in cssFiles
            link(type="text/css" rel="stylesheet" href=cssFile)
    body
        #content
            h1 word count
            #message
            textarea(id="inputfield"
                    name="input"
                    autofocus
                    placeholder="start typing here")
            button(id="count" name="count") count
        each jsFile in jsFiles
            script(type="text/javascript" src=jsFile)